html {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.ai_choice {

}

main {
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15em;
}

.emoji {
    font-size: 8em;
    user-select: none;
}

.ai_choice {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 8px #000;
    background-color: rgb(138, 161, 181);
    border-radius: 50%;
    transition: transform .5s ease-in-out;
}

.ai_choice:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.emojis__count {
  position: absolute;
  left: 200px;
 font-size: 2em;
 user-select: none;
}

.clearBtn {
    color: #fff;
    text-decoration: none;
    background-color: #b22424;
    padding: 1em 2em 1em 2em;
    font-size: 2em;
    position: absolute;
    right: 200px;
    bottom: 100px;
    border-radius: 3%;
    transition: .2s transform ease-in-out;
    user-select: none;
}

.clearBtn:hover {
    background-color: #7b1919;
    transform: translateY(5px);
}